@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@font-face {
  font-family: 'Neon';
  src: url(../fonts/clip.regular.woff) format("woff");
  font-weight: normal;
}

$font-family-base: 'Indie Flower';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "blackboard";
@import "neon";
@import "stack";

html {
  font-size: 18pt;
  @media (max-width: 576px) {
    font-size: 16pt;
  }
}

body {
  background-color: #21150c;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

ul {
  list-style: none;
  padding-left: 1rem;
}

$neon-blue: rgb(183, 178, 124);
$neon-blue-on: rgb(255, 238, 0);
.neon-btn {
  z-index: 10;
  cursor: pointer;
  border: 2px solid $neon-blue;
  border-radius: .5rem;
  padding: 0rem .3rem;
  color: $neon-blue !important;
  box-shadow: 2px 2px 10px rgba(0,0,0,.5), inset 2px 2px 10px rgba(0,0,0,.5);
  text-shadow: 2px 2px 5px rgba(0,0,0,.5);
  &:hover {
    color: white !important;
    border-color: white;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #{$neon-blue-on}, 0 0 20px #{$neon-blue-on};
    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #{$neon-blue-on}, 0 0 15px #{$neon-blue-on}, inset 0 0 2px #fff, inset 0 0 5px #fff, inset 0 0 10px #{$neon-blue-on}, inset 0 0 15px #{$neon-blue-on};
  }
}